
<%- include('layout/head.ejs'); %>

<body>
    <%- include('layout/header.ejs'); %>
    <!--Page Wrapper-->

    <div class="page-wrapper">

        <!--Post slide-->
        
        <div class="post-slider">
            <h1 class="slider-title"></h1>
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
                    <div class="post-wrapper"> 
                        <% for(var i=0; i< contents.length; i++) { %>
                <div class="post">
                    <img src="../images/<%= contents[i].image %>" class="slider-image">
                    <div class="post-info">
                        <h4 class="slider-title" ><a href="/single/<%= contents[i].id %>"><%= contents[i].title %></a></h4>
                </div>
            </div>
                <% } %>
            </div>     
        
    </div>
        
        <!--Post slide-->

        <!--Content-->

        <div class="content clearfix">
            
        <!--Main Content-->
            <div class="main-content">
                <h1 class="recent-post-title">Recent Posts</h1>
                <% for(var i=0; i< contents.length; i++) { %>
                <div class="post">
                    <img src="../images/<%= contents[i].image %>" alt="" class="post-image">
                    <div class="post-preview">
                        <h2 class="div-post"><a href="/single/<%= contents[i].id %>"><%= contents[i].title %></a></h2>
                        <i class="far fa-user">Blogger</i>
                        &nbsp;
                        <i class="far fa-calendar">April 20, 2018</i>
                        <p class="preview-text"><%= contents[i].highlight %></p>
                        <a href="/single/<%= contents[i].id %>" class="btn read-more">Read More</a>
                    </div>
                </div>
                <% } %> 
            </div>
        <!--Main Content-->
            <div class="sidebar">

                <div class="section search">
                    <h2 class="section-title">Search</h2>
                <form action="index" method="post">
                <input type="text" name="search-term" id="text-input" placeholder="Search...">
                </form>
                </div>

                <div class="section topics">
                    <h2 class="section-title">Topics</h2>
                    <ul>
                        <li><a href="#">Aesthetic</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">Quotes</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Album</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!--Content-->
    </div>

    <%- include('layout/footer.ejs'); %>

    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Slick-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--JS-->
    <script src="../js/scripts.js"></script>
</body>
</html>